/* ########### 布局 定位 ########### */
.pos_a { position: absolute; }
.pos_r { position: relative; }
.pos_f { position: fixed }
.t_0 { top: 0; }
.t_30px { top: 30px; }
.b_0 { bottom: 0; }
.r_0 { right: 0; }
.l_0 { left: 0; }
.none { display: none; }
.block { display: block; }
.in_block { display: inline-block; }
.flex { display: flex; }
.flex_wrap { flex-wrap: wrap; }
.flex_just_betw { justify-content: space-between; }
.flex_just_cent { justify-content: center; }
.flex_alig_cent { align-items: center; }
.z_999 { z-index: 999; }
.z_0 { z-index: 0; }
.z_s1 { z-index: -1; }
.d_n { display: none; }
.z_99999 { z-index: 99999; }



/* ########### 宽 高 ########### */
.w_100vw { width: 100vw; }
.w_145px { width: 145px; }
.w_200px { width: 200px; }
.w_360px { width: 360px; }
.w_100 { width: 100%; }
.w_33 { width: 33.333%; }
.w_50 { width: 50%; }
.w_40 { width: 40%; }
.w_60 { width: 60%; }
.w_20 { width: 20%; }
.w_9 { width: 9%; }
.w_80 { width: 80%; }
.m_w_300px { min-width: 300px; }
.m_w_140px { min-width: 140px; }
.m_w_50px { min-width: 50px; }
.h_100 { height: 100%; }
.h_80 { height: 80%; }
.h_50 { height: 50%; }
.h_33 { height: 33.333%; }
.h_41px { height: 41px; }
.h_main { height: calc(100vh - 43px); }
.h_300px { height: 300px; }
.h_min_300px { min-height: 300px; }
.h_min_200px { min-height: 200px; }
.h_100_300px { height: calc(100% - 300px); }
.h_150px { height: 150px; }


/* ########### 边距 边框 ########### */
.padd_8px { padding: 8px; }
.padd_l_8px { padding-left: 8px; }
.padd_4px { padding: 4px; }
.padd_2px { padding: 2px; }
.padd_lr_13px { padding-left: 13px; padding-right: 13px; }
.padd_16px { padding: 16px; }
.padd_tb_8px { padding-top: 8px; padding-bottom: 8px; }
.padd_tb_16px { padding-top: 16px; padding-bottom: 16px; }
.padd_t_13px { padding-top: 13px; }
.padd_t_8px { padding-top: 8px; }
.padd_t_0 { padding-top: 0; }
.marg_13px { margin: 13px; }
.marg_tb_4px { margin-top: 4px; margin-bottom: 4px; }
.marg_tb_8px { margin-top: 8px; margin-bottom: 8px; }
.marg_t_8px { margin-top: 8px; }
.marg_t_0 { margin-top: 0; }
.marg_b_8px { margin-bottom: 8px; }
.marg_b_16px { margin-bottom: 16px; }
.marg_lr_13px { margin-left: 13px; margin-right: 13px; }
.marg_lr_15px { margin-left: 15px; margin-right: 15px; }
.bor_0 { border: 0; }
.bor_1_r { border: 1px solid red; }
.bor_ra_2 { border-radius: 2px; }
.bor_ra_4 { border-radius: 4px; }
.bor_ra_8 { border-radius: 8px; }
.bor_ra_16 { border-radius: 16px; }
.bor_b_eee { border-bottom: 2px solid #eee; }



/* ########### 文字 颜色 ########### */
.color_4788bc { color: #4788bc; }
.color_858585 { color: #858585; }
.color_f4f4f4 { color: #f4f4f4; }
.text_cent { text-align: center; }
.text_left { text-align: left; }
.text_right { text-align: right; }
.text_decor { text-decoration: none; }
.text_sha_222 { text-shadow: 0 0 19px #222; }
.font_s_italic { font-style: italic; }



/* ########### 背景 ########### */
.bgc_9cacb9 { background-color: #9cacb9; }
.bgc_c9d6e0 { background-color: #c9d6e0; }
.bgc_f2f2f2 { background-color: #f2f2f2; }
.bgc_f7f7f7 { background-color: #f7f7f7; }
.bgc_e7e7e7 { background-color: #e7e7e7; }
.box_shadw_777 { box-shadow: 0 0 4px #777; }
.box_shadw_777_in { box-shadow: 0 0 4px #777 inset; }
.box_shadw_c9d6e0 { box-shadow: 0 2px 2px #c9d6e0 }



/* ########### 鼠标 ########### */
.cur_p { cursor: pointer }

/* ########### 其它 ########### */
.over_f { overflow: auto; }
.over_h { overflow: hidden; }
.txt_over_elli { text-overflow: ellipsis; }
.white_space_n { white-space: nowrap; }
.over_y_v { overflow-y: visible; }
.over_x_h { overflow-x: hidden; }
.appearance_n { appearance:none; -moz-appearance:none; -webkit-appearance:none; }
.outline_n { outline: none; }
.lh_41px { line-height: 41px; }
.lis_sty_n { list-style: none; }

/* ########### 公共样式 ########### */
.comp_popMessage_comp {
    left: calc(50vw - 95px);
    width:190px;
    min-height: 1em;
}
.opacity_Background { background-color: #333; opacity: 0.5; }
/* 表单 */
.form {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-content: space-between;
    text-align: center;
}
.form input {
    border: none;
    padding: 14px;
    margin: 8px;
    background-color: #f9f9f9;
}
#loginContent input {
    background-color: #fff;
    opacity: 1;
}
.form input[type=button] { width: 100%; }
.articleList_left {
    width: calc(100% - 284px);
    min-width: 477px;
    height: calc(100% - 16px);
}
.article_list_li:first-child {
    margin-top: 8px;
}
.article_list_li:hover {
    background-color: #f1f1f1
}
.toyList_right {
    width: 284px;
}
.toy_style {
    float: left;
    width: 74px;
    height: 74px;
    border-radius: 3px;
    margin: 5px;
    list-style: none;
}

/* ############# screen ######## */
@media screen and (max-width: 1280px) {
    .comp_mainPage_list_top { flex-direction: column-reverse; }
    .comp_mainPage_list_top_left { width: 100%; height: 300px}
    .comp_mainPage_list_top_right { width: 100%; height: 300px }
}

/* electric 版块初始风格 */
.comp_main_electric_list_style_normal:hover {
    background-color: #E7E7E7;
}
.comp_main_electric_list_style_normal:hover> span {
    background-color: #f8f9f8;
}